.mobile-menu {
  background-color: $navy;
  padding: 10px;
  position: fixed;
  width: 100%;
  z-index: 1000;

  @media screen and (min-width: 700px) {
    display: none;
  }
}

.mobile-menu:after {
  clear: both;
  content: '';
  display: block;
}

.toggle {
  display: inline-block;
  float: left;
  margin-left: -40px;
}

.toggle a {
  background: $navy;
  border-radius: 3px;
  color: $white;
  display: inline-block;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  vertical-align: top;
  width: 40px;
}

.toggle .fa:before {
  content: '\f0c9';
  transition: .3s;
}

.menu {
  background: $navy;
  float: left;
  left: -100%;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 60px;
  transition: .3s;
  text-align: center;
  width: 100%;
}

.logo-mobile {
  float: right;
}

.menu li a {
  border-bottom: 1px solid $navy;
  color: #fff;
  display: block;
  padding: 10px;
  text-decoration: none;
}

.menu li a:hover {
  color: $green;
  background-color: rgba(255,255,255,0.2);
  border-bottom: 1px solid $green;
}

.hidden-toggle {
  cursor: pointer;
  float: left;
  height: 41px;
  margin-left: 0px;
  opacity: 0;
  vertical-align: top;
  transition: .3s;
  width: 41px;
}

.hidden-toggle:checked ~ .menu {
  left: 0;
}

.hidden-toggle:checked ~ .toggle .fa:before {
  content: '\f00d';
}
