$white: #fff;
$green: #1abc9c;

$blue: #2c8ac8;
$navy: #34495e;

$purple: #9E1E62;
$darkPurple: #821E62;

$offBlack: rgb(40,40,40);
$black: #000;

$gray: #ccc;
$lightGray: #f6f6f6;
$darkGray: #587272;
